
.about-content{
    position: fixed; /* this sets the bar in the same relative position no matter how the user scrolls */
    top: 100px; /* top and left set the navbar to top left corner of the window */
    left: 0px;
    width: 100%; /* 100% of the viewer of the screen*/
    height: 100%;
    overflow-x:auto;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    transition: transform 0.3s ease; /* basically what it sounds like but so slay*/
    border: 10px;
    border-color: red;
}

h2{
    color: slateblue;
}



.bio {
    width: 50%;
    padding: 30px;
}


.headshot{
    padding: 50px;
}

