
.navigation{
    position: fixed; /* this sets the bar in the same relative position no matter how the user scrolls */
    top: 0; /* top and left set the navbar to top left corner of the window */
    left: 0;
    width: 100%; /* 100% of the viewer of the screen*/
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 15px;
    transition: transform 0.3s ease; /* basically what it sounds like but so slay*/
}

.navigation a{
    padding: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:black;
    text-decoration: none; /* gets rid of the underline*/
}

.initials{
    font-size: 50px;
    color: black;
    position: fixed;
    top: 15px;;
    left:25px;

}